@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap");

:root {
    --he-color: #47001a;
    --as-color: #81002f;
    --bc-color: #cab8aa;
    --coment-color: #4B1E2F;

    --default-font: "Kanit", "Verdana", "Helvetica", sans-serif;
    --title-font: "BEBAS NEUE", sans-serif;
}


body {
    background-color: var(--bc-color);
    font-family: var(--default-font);
}

a.externo::after{
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom,
            var(--as-color),
            var(--he-color));
    color: #fff;
    width: 100%;
    min-height: 150px;
    padding: 30px;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.193);
}

header>h1 {
    font-family: var(--title-font);
    margin: auto;
    font-size: 3em;
    margin-bottom: 20px;
}

header>p {
    font-size: 1.2em;
    margin: auto;
    max-width: 500px;
    font-weight: 200;
}

nav {
    background-color: var(--he-color);
    color: #fff;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.256);
}

nav>ul>li {
    display: inline;
    padding: 7px;
    border-radius: 9px;
    transition-duration: 0.6s;
    font-size: 1rem;
}

nav>ul>li:hover {
    background-color: var(--as-color);
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.256);
    border-radius: 0px 0px 15px 15px;
}

main h1 {
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

main h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 20px 0px;
    background-image: linear-gradient(to right, #81002f30, transparent);
    padding: 2px;
}

main h3 {
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
}

main p {
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    padding: 10px 0px;
    text-indent: 30px;
    line-height: 1.5em;
}

main a {
    font-weight: 500;
    color: var(--he-color);
    background-color: #81002f65;
    transition-duration: 0.4s;
}

main a:hover{
    text-decoration: underline;

    color: var(--as-color);

}

main img {
    width: 100%;
}

#coment {
    position:relative; top:-80px;
    left:170px;
    padding:6px;
    line-height:20px;
    background:var(--coment-color);
    color:#fff;
    display: block;
    width:170px;
    opacity: 0;
   
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
main #ada:hover #coment {
    opacity: 1;
}

main #maq:hover #coment {
    opacity: 1;
}

div.video{
    background-color: #47001a;
    margin: 0px -20px 15px -20px;
    padding: 20px;
    padding-bottom: 56.7%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: #cab8aa;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.256);
}

aside h2 {
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #81002f;
    color: #fff;
    margin: -10px -10px 10px -10px ;
    border-radius: 10px 10px 0px 0px;
    padding: 8px;
}

aside li{
    font-weight: 500;
}
aside a{
    background-color: #fff;
}
aside p {
    text-indent: 10px;
}




footer {
    width: 100%;
    background-color: #47001a;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

footer a {
    font-weight: 550;
}

footer a:hover{
    text-decoration: underline;
}